mixin header()
	+b.HEADER.header
		+b.container
			img(src="img/keepcalm.png", alt="alt")
			p.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				Assumenda iure aliquam tenetur obcaecati reprehenderit, voluptatem, 
				quo suscipit excepturi ipsam odit. Quibusdam maiores, quisquam ad. 
				Cum, voluptatem, nihil. Nostrum facilis, doloribus.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				Assumenda iure aliquam tenetur obcaecati reprehenderit, voluptatem, 
				quo suscipit excepturi ipsam odit. Quibusdam maiores, quisquam ad. 
				Cum, voluptatem, nihil. Nostrum facilis, doloribus.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				Assumenda iure aliquam tenetur obcaecati reprehenderit, voluptatem, 
				quo suscipit excepturi ipsam odit. Quibusdam maiores, quisquam ad. 
				Cum, voluptatem, nihil. Nostrum facilis, doloribus.
			i.fa.fa-user-o


		
